<h1>Hello Dallas from hello!</h1>
<br />
<h2>Demo#hello</h2>
<p>Find me in app/views/demo/hello.html.erb</p>

<%= 1 + 1 %><br />

<%= target = "world" %>
<%= "Hello #{target}" %>
<br />
<% @array.each do |n| %>
  <%= n ** n %><br />
<% end %>
<br />

<p>The root route will take precedence...</p>
<%= link_to 'Index via link_to', {controller: 'demo', action: 'index'} %><br />

ID via instance variable: <%= @id %><br />
ID via calling params in template: <%= @id %><br />
Page: <%= @page %><br />
Next page: <%= @page.to_i + 1 %>
